*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Forward-specific stuff
*.pos
*.geo
*.msh
*.pro
*.pre
*.res
*.hdf5
*.txt
*.m
*.mat
*.npz
*.bck
examples/dipole*
examples/diffusion*
examples/structural*
examples/forward*
examples/dti*
examples/cost*
examples/ForwardSample*